{% extends 'pages/basic.html' %}
{% load static %}
{% load tag_library %}
{% block body %}

<!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Indonesia</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Australia</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Switzerland</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider_area_end -->

    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Search</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="#">
                            <div class="input_field">
                                <input type="text" placeholder="Search">
                            </div>
                            {% comment %} <div class="input_field">
                                <input id="datepicker" placeholder="Date">
                            </div> {% endcomment %}
                            {% comment %} <div class="input_field">
                                <select>
                                    <option data-display="Travel type">Travel type</option>
                                    <option value="1">Some option</option>
                                    <option value="2">Another option</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->
    
    <!-- popular_destination_area_start  -->
    {% comment %} <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Destination</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/1.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Italy <a href="travel_destination.html">  07 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/2.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Brazil <a href="travel_destination.html">  03 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/3.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">America <a href="travel_destination.html">  10 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/4.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Nepal <a href="travel_destination.html">  02 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/5.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Maldives <a href="travel_destination.html">  02 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/6.png' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Indonesia <a href="travel_destination.html">  05 Places</a> </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- popular_destination_area_end  -->

    <!-- newletter_area_start  -->
    {% comment %} <div class="newletter_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="newsletter_text">
                                <h4>Subscribe Our Newsletter</h4>
                                <p>Subscribe newsletter to get offers and about
                                    new places to discover.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="mail_form">
                                <div class="row no-gutters">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="newsletter_field">
                                            <input type="email" placeholder="Your mail" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4">
                                        <div class="newsletter_btn">
                                            <button class="boxed-btn4 " type="submit" >Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- newletter_area_end  -->

    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Restaurant</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
            {% comment %} {{life}}<br><br>
            {{hotel}} {% endcomment %}
                {% for cuisin in cuisin.results.recommendation %}

                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{% static 'img/resto.jpg' %}" alt="">
                            {% comment %} <a href="#" class="prise"></a> {% endcomment %}
                        </div>
                        <div class="place_info">
                            <a href="destination_details.html"><h3>{{ cuisin.restaurant_name }}</h3></a>
                            <p>{{cuisin.categories}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">                      
                                    <i class="fa fa-star{% if cuisin.star|to_int < 1 %}-o empty{% endif %}">
                                    </i> 
                                    <i class="fa fa-star{% if cuisin.star|to_int < 2 %}-o empty{% endif %}">
                                    </i>
                                    <i class="fa fa-star{% if cuisin.star|to_int < 3 %}-o empty{% endif %}">
                                    </i>
                                    <i class="fa fa-star{% if cuisin.star|to_int < 4 %}-o empty{% endif %}">
                                    </i>
                                    <i class="fa fa-star{% if cuisin.star|to_int < 5 %}-o empty{% endif %}">
                                    </i>  

                                     {% comment %} <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i> 
                                     <i class="fa fa-star"></i>
                                     <a href="#">{{cuisin.star}}</a> {% endcomment %}
                                </span>
                                {% comment %} <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                     <a href="#">5 Days</a> 
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
            
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div><div class="row my-2">
                {% endif %}

                {% endfor %}
            </div>
        </div>   
         <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Travel</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for t in travel %}

                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{% static 'img/3.png' %}" alt="">
                            {% comment %} <a href="#" class="prise"></a> {% endcomment %}
                        </div>
                        <div class="place_info">
                            <a href="destination_details.html"><h3>{{ t.title }}</h3></a>
                            <p>{{t.keywords}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star{% if t.rating|to_int < 1 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if t.rating|to_int < 2 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if t.rating|to_int < 3 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if t.rating|to_int < 4 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if t.rating|to_int < 5 %}-o empty{% endif %}"></i>
                                     {% comment %} <a href="#">{{t.rating}}</a> {% endcomment %}
                                </span>
                                {% comment %} <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                     <a href="#">5 Days</a> 
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
            
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div><div class="row my-2">
                {% endif %}

                {% endfor %}
            </div>
        </div> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Lifestyle</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for l in life %}

                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{% static 'img/night.jpg' %}" alt="">
                            {% comment %} <a href="#" class="prise"></a> {% endcomment %}
                        </div>
                        <div class="place_info">
                            <a href="destination_details.html"><h3>{{ l.name }}</h3></a>
                            <p>{{l.categories}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star{% if l.star|to_int < 1 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if l.star|to_int < 2 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if l.star|to_int < 3 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if l.star|to_int < 4 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if l.star|to_int < 5 %}-o empty{% endif %}"></i>
                                     {% comment %} <a href="#">{{l.star}}</a> {% endcomment %}
                                </span>
                                {% comment %} <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">5 Days</a> 
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
            
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div><div class="row my-2">
                {% endif %}

                {% endfor %}
            </div>
        </div> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Hotel</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for h in hotel %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{% static 'img/4.png' %}" alt="">
                            {% comment %} <a href="#" class="prise"></a> {% endcomment %}
                        </div>
                        <div class="place_info">
                            <a href="destination_details.html"><h3>{{ h.property_name }}</h3></a>
                            <p>{{h.hotel_facilities}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star{% if h.hotel_star_rating|to_int < 1 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if h.hotel_star_rating|to_int < 2 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if h.hotel_star_rating|to_int < 3 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if h.hotel_star_rating|to_int < 4 %}-o empty{% endif %}"></i> 
                                     <i class="fa fa-star{% if h.hotel_star_rating|to_int < 5 %}-o empty{% endif %}"></i>
                                     {% comment %} <a href="#">{{h.hotel_star_rating}}</a> {% endcomment %}
                                </span>
                                {% comment %} <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">5 Days</a> 
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
            
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div><div class="row my-2">
                {% endif %}

                {% endfor %}
            </div>
        </div>        
    </div>
    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Micky Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Tom Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                        </div>
                                        <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to help alleviate human suffering.</p>
                                        <div class="testmonial_author">
                                            <h3>- Jerry Mouse</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

<!-- /testimonial_area  -->


    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Recent Trips</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/2.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_trip">
                        <div class="thumb">
                            <img src="{% static 'img/trip/3.png' %}" alt="">
                        </div>
                        <div class="info">
                            <div class="date">
                                <span>Oct 12, 2019</span>
                            </div>
                            <a href="#">
                                <h3>Journeys Are Best Measured In
                                    New Friends</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}